body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  background-color: #00d5ff;
  color: #eaeaea;
  cursor: pointer;
  border: 2px outset #00ffee;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}
button:hover {
  background-color: #ffffff;
  color: #333;
  border: 2px solid #00ffee;
}
p {
  margin: 10px 0;
  font-size: 16px;
  border: 2px solid #00ffee;
  padding: 10px;
}
